<p id="notice"><%= notice %></p>

<h1>Listing Mates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mates.each do |mate| %>
      <tr>
        <td><%= mate.name %></td>
        <td><%= link_to 'Show', mate %></td>
        <td><%= link_to 'Edit', edit_mate_path(mate) %></td>
        <td><%= link_to 'Destroy', mate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mate', new_mate_path %>
